body{
    margin: 0;
}
.swiper-pagination-bullet{
    height: 4px;
    width: 25px;
    border-radius: 10px;
    background-color: #FB2E86;
}
.swiper-pagination-bullet:active{
    background-color:#FB2E86;
}